{
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "globals": {
    "wx": true,
    "getApp": true,
    "__DEV__": true
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "flowtype-errors"],
  "rules": {
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype-errors/show-errors": 2,
    "prefer-const": 0,
    "prefer-template": 0,
    "no-param-reassign": 0,
    "comma-dangle": [1, "never"],
    "spaced-comment": [0, "always"],
    "func-names": 0,
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 1,
    "class-methods-use-this": 1,
    "no-prototype-builtins": 0,
    "import/no-extraneous-dependencies": 1,
    "max-len": [2, {"code": 120, "ignoreComments": true}],
    "radix": 0,
    "strict": 0,
    "object-shorthand": 0,
    "prefer-arrow-callback": 0,
    "prefer-rest-params": 0,
    "prefer-spread": 0,
    "vars-on-top": 0
  }
}
